:global(.property-listing__button) {
  transition: opacity 0.1s ease-out;
  position: absolute;
  margin: 0 0.5rem 0.5rem;
  bottom: 0;
  -webkit-appearance: none;
  border-width: 0;
  border-radius: 4px;
  padding: 0.75rem 2rem;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  background: red;
  opacity: 0;
  font-size: 1rem;
}

:global(:HOVER > .property-listing__button) {
  opacity: 0.8;
}

:global(.property-listing__button:HOVER) {
  opacity: 1;
}
