.toaster{
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
  border-radius: 4px;
  padding: 1rem 2rem;
  position: fixed;
  right: 1rem;
  background: #f1f1f1;
  z-index: 2;
  width: 350px;
  max-width: 90%;
  align-items: center;
  display: flex;
}

.toaster-icon{
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 1.5rem 0 0;
}
