/*
This CSS asumes all images are of a similar ratio. In a future version I'd look
to make the consuming component pass the ratio in for padding-bottom as an inline style.

See an an example of this method: http://jonathannicol.com/blog/2011/10/18/responsive-elements-that-retain-their-aspect-ratio/

Note on ratio calculation:
height/width * 100 = height ratio percentage

So:
480/640 * 100 = 75

Makes:
padding-bottom: 75%;

*/

.image{
  display: block;
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #f5f5f5;
}
.image__img{
  transition: opacity 0.3s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
